#CONFIG
SANDBOX=True
AWS_ACCESS_KEY='AKIA3OGMTIEJ6E7RQSBJ'
AWS_SECRET_ACCESS_KEY='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'
SQLALCHEMY_DATABASE_URI='postgres://hnngrabrutsrys:0455c4d86dbe8737b808676ca0d48a3de61f39feb0b7f4417bb1895cf8a25e94@ec2-54-227-246-152.compute-1.amazonaws.com:5432/d2j6o5dsr3b8nk'
APP_NAME='mturkrouter-api-heroku'
PASSWORD='boys'
