<html>
	<head>
		<title>Create a HIT from an Ibex Experiment!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	</head>
	<body>
		<form action="/create" >
			<ul style="display:block;float:center;" id='inputlist'>
				<li>Copy details from prior HIT</li>
				<select name='CopyTitle' id='copytitle'>
				<option disabled selected value> --select an option -- </option>
					{% for HIT in HITs %}
						<option value = '{{ HIT["HITId"] }}'>{{ HIT['Title'] }} - {{ HIT['Created'] }}</option>
					{% endfor %}
				</select>
				<li>IBEX link (should end in 'experiments.html'):</li>
				<input name="Ibex" id='ibex' type="text" required />
				<br/>
				<li>HIT Title:</li>
				<input name="Title" id='title' type="text" required />
				<br/>
				<li>HIT Description:</li>
				<input name="Description" id='description' type="text" required />
				<br/>
				<li>HIT Keywords:</li>
				<input name="Keywords" id='keywords' type="text" required />
				<br/>
				<li>Maximum experiment duration (in minutes):</li>
				<input name="Timeout" id='timeout' type="number" min="0" step="1" value='60' required />
				<br/>
				<li>Duration of HIT (in days):</li>
				<input name="Duration" id='duration' type="number" min="0" step="1" value="2" required />
				<br/>
				<li>Reward (in dollars):</li>
				<input name="Reward" id='reward' type="number" min="0.0" step="0.01" required />
				<br/>
				<li>Require Masters:</li>
				<input name="Masters" id='masters-yes' type="radio" value='yes' />Yes
				<input name="Masters" id='masters-no' type="radio" value='no' checked/>No
				<br />
				<li>Require location to be US:</li>
				<input name="Location" id='location-yes' type="radio" value='yes' checked/>Yes
				<input name="Location" id='location-no' type="radio" value='no' />No
				<br />
				<li>Required number of lifetime HITs approved (leave empty if not interested):</li>
				<input name="Approved" id='number-approved' type="number" value=0 min=0 />
				<br />
				<li>Groups excluded: (Cmd/ctl + click to select multiple)</li>
				<select multiple name='Excluded' id='excluded' >
					{% for qual in qualifications %}
						<option value = '{{ qual["QualID"] }}' id='{{ qual["QualID"] }}'>{{ qual['name'] }}</option>
					{% endfor %}
				</select>
				<br />
				<li>Groups included: (Cmd/ctl + click to select multiple)</li>
				<select multiple name='Included' id='included' >
					{% for qual in qualifications %}
						<option value = '{{ qual["QualID"] }}' id='{{ qual["QualID"] }}'>{{ qual['name'] }}</option>
					{% endfor %}
				</select>
				<li>Ibex End-Of-Experiment Code (CASE SENSITIVE): </li>
				<input name='surveyCode' id='surveycode' type="text" required />
				<li>Account Password (set in config file)</li>
				<input name='password' id = 'password' type='text' required />
				<li>Number of Lists (integer):</li>
				<input name="listNum" id='listnum' type="number" min='0' step="1" required />
				<br/>
				<li>Will all lists have an equal number of participants?</li>
				<input name='allequal' id='yes' type='radio' value='y' required/>Yes
				<input name='allequal' id='no' type='radio' value='n' required/>No
				<br/>
				
				<input name="submit" id='submit' type="submit" value="Submit" />
			</ul>
		</form>
	</body>
	<script >
		$(document).ready(function(){
			var equalnum = false;
			var yesequal = false;
			var noequal = false;
			var currentListNum = '';

			$('#copytitle').change(function(){
				$('#excluded option:selected').removeAttr('selected');
				$('#included option:selected').removeAttr('selected');
				$.ajax({
					dataType:'json',
					data:{
						'HITId':$(this).val()
					},
					url:'/getHITInfo',
					success:function(data){
						$('#ibex').val(data['ibexURL']);
						$('#title').val(data['Title']);
						$('#description').val(data['Description']);
						$('#keywords').val(data['Keywords']);
						$('#timeout').val(data['Timeout']);
						$('#duration').val(data['Duration']);
						$('#reward').val(data['Reward']);
						if (data['Masters'])
							$('#masters-yes').attr('checked',true);
						else
							$('#masters-no').attr('checked',true);
						if (data['US'])
							$('#location-yes').attr('checked',true);
						else
							$('#location-no').attr('checked',true);
						$('#number-approved').val(data['NumberApproved']);
						
						for(var i = 0; i < data['Excluded'].length; i++){
							$('#' +data['Excluded'][i]).attr('selected',true);
						}
						
						for(var i = 0; i < data['Included'].length; i++){
							$('#' +data['Included'][i]).attr('selected',true);
						}
						$('#surveycode').val(data['surveyCode']);

						
					}
				});
			});

			$('#listnum').change(function(){
				$('#yes').click(function(){
					if(!yesequal){
						$('.perEachList').remove();
						noequal = false;
						$("<li class = 'perListInput'>Number of participants per list:</li><input name='perList' class='perListInput' type='number' min='0' step='1' required/><br class='perListInput'/>").insertBefore('#submit');
						yesequal = true;
					}
				});
				
				$('#no').click(function(){
					if(!noequal){
						$('.perListInput').remove();
						yesequal = false;
						for(i = 0; i < $('#listnum').val(); i++){
							console.log(i);
							$('<li class="perEachlist">Number of participants in list' + i.toString() + ":</li><input name='list"+i.toString()+"' type='number' class='perEachList' min='0' step='1' value='0' required/><br class='perEachlist' />").insertBefore('#submit');
						}
						noequal = true;
					}
				
					
				});
				if (noequal){
					$('.perEachList').remove();
					for(i = 0; i < $('#listnum').val(); i++){
						console.log(i);
						$('<li class="perEachlist">Number of participants in list' + i.toString() + ":</li><input name='list"+i.toString()+"' type='number' class='perEachList' min='0' step='1' value='0' required/><br class='perEachlist' />").insertBefore('#submit');
					}
				}
				
				
			});

			
			
		});
			
	</script>
</html>